<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.biz.iams.mapper.IamsAccountMapper">

  <resultMap id="iamsAccountMap" type="com.pig4cloud.pig.biz.iams.entity.IamsAccountEntity">
        <id property="id" column="id"/>
        <id property="assetId" column="asset_id"/>
        <id property="url" column="url"/>
        <id property="type" column="type"/>
        <id property="account" column="account"/>
        <id property="password" column="password"/>
        <id property="protocol" column="protocol"/>
        <id property="port" column="port"/>
        <id property="macAddress" column="mac_address"/>
        <id property="single" column="single"/>
        <id property="vsn" column="vsn"/>
  </resultMap>
</mapper>