<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.biz.iams.mapper.IamsPasswordLogMapper">

  <resultMap id="iamsPasswordLogMap" type="com.pig4cloud.pig.biz.iams.entity.IamsPasswordLogEntity">
        <id property="id" column="id"/>
        <id property="accountId" column="account_id"/>
        <id property="assetId" column="asset_id"/>
        <id property="oldPassword" column="old_password"/>
        <id property="newPassword" column="new_password"/>
        <id property="createTime" column="create_time"/>
  </resultMap>
</mapper>